<div id='fullpage'>
  <% @comic_info.each_slice(2).with_index do |slice, index| %>
    <div class='section'>
      <% if index == 0 %>
        <div id='pull-comic-vol-name'>
          <h1><%= @comic.name %></h1>
        </div>
      <% else %>
        <div class="section-helper">
        </div>
      <% end %>

      <% slice.each do |info| %>
        <div class="pull-subscription-comic">
          <div class="comic-image">
            <img src="<%= info["image"]["thumb_url"] %>" />
          </div>
          <div class="comic-issue-number">
            <%= "##{info["issue_number"]}" %>
          </div>
          <div class="comic-issue-name">
            <%= info["name"] %>
          </div>
          <div class="comic-description">
            <%= strip_tags(info["description"]) %>
          </div>
        </div>
      <% end %>  
    </div>  
  <% end %>
</div>
